<%= form_with(model: cookbook_ingredient, local: true) do |form| %>
  <% if cookbook_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cookbook_ingredient.errors.count, "error") %> prohibited this cookbook_ingredient from being saved:</h2>

      <ul>
      <% cookbook_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="field">
    <%= form.label :cookbook_id %>
    <%= form.collection_select :cookbook_id, Cookbook.order(:id),:id,:name, include_blank: true %>
  </div>
   

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.collection_select :ingredient_id, Ingredient.order(:id),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :cookbook_ingredient_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
