<p id="notice"><%= notice %></p>

<h1>Cookbook Ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Cookbook</th>
      <th>Ingredient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cookbook_ingredients.each do |cookbook_ingredient| %>
      <tr>
        <td><%= cookbook_ingredient.cookbook_id %></td>
        <td><%= cookbook_ingredient.ingredient_id %></td>
        <td><%= link_to 'Show', cookbook_ingredient %></td>
        <td><%= link_to 'Edit', edit_cookbook_ingredient_path(cookbook_ingredient) %></td>
        <td><%= link_to 'Destroy', cookbook_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cookbook Ingredient', new_cookbook_ingredient_path %>
