<%= form_with(model: cookbook, local: true) do |form| %>
  <% if cookbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cookbook.errors.count, "error") %> prohibited this cookbook from being saved:</h2>

      <ul>
      <% cookbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cookbook_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :cookbook_description %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :cookbook_time %>
  </div>

  <div class="field">
    <%= form.label :serving %>
    <%= form.text_field :serving, id: :cookbook_serving %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
