<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cookbook.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cookbook.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= @cookbook.time %>
</p>

<p>
  <strong>Serving:</strong>
  <%= @cookbook.serving %>
</p>

<p>
  <strong>Ingredients:</strong>
  <ul> 
  <% @cookbook.cookbook_ingredients.each do |ci| %>
  <li>
    <%= ci.ingredient.name %>:<%= ci.quantity %>:<%= ci.ingredient.unit %> 
  </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_cookbook_path(@cookbook) %> |
<%= link_to 'Back', cookbooks_path %>
